<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
  .is-loading {
    background: #ffcc00;
  }

  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div id="root">
    <!-- toggle css styles -->
    <button :class="{ 'is-loading': isLoading }" @click="toggleClass">Click Me</button>
    <br>
    <!-- toggle enabled state -->
    <button :disabled="disabled" @click="toggleEnable">Hit Me</button>
    <br>
    <!-- use vues transitions -->
    <button v-if="seen">Now you see me</button>
    <!-- for loop list of items -->
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
    <!-- handle user input events -->
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <hr>
    <!-- v-model 2 way binding -->
    <p>{{ message }}</p>
    <input v-model="message">
    <hr>
    <!--
          Now we provide each todo-item with the todo object
          it's representing, so that its content can be dynamic.
          We also need to provide each component with a "key",
          which will be explained later.
        -->
    <ol>
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
      </todo-item>
    </ol>
    <hr>
    <!-- computed props to filter -->
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="panel">
            <div class="panel-heading">
              TODOs
              <div class="field has-addons is-pulled-right">
                  <p class="control">
                    <a class="button is-small" @click="seen= !seen">
                        <i style="color: #666666" class="fa fa-plus fa-2x"></i>
                    </a>
                  </p>
              </div>
            </div>
            <div class="panel-block" v-if="seen">
                <div class="control">
                    <input class="input is-small" :class="{'is-danger': submitted && handleNoData }"
                            v-model="todo_text"
                            type="text" placeholder="write a TODO"
                            @keydown.enter.prevent="validateInput">
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-info is-small" @click="validateInput">Submit</button>
                    </div>
                </div>
            </div>
            <div class="panel-block" v-if="seen && submitted && handleNoData">
                <p class="help is-danger">You must input some text</p>
            </div>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input is-small" type="text" placeholder="search">
                <span class="icon is-small is-left">
                    <i class="fa fa-search"></i>
                </span>
              </p>
            </div>
            <p class="panel-tabs">
              <a v-for="tab in tabs" :class="{'is-active': tab.active}" @click="toggleTab($event)">
                  {{ tab.text }}
              </a>
            </p>
            <div class="panel-block" v-for="task in currentTasks">
                <div class="checkbox is-success is-circular">
                    <input type="checkbox" class="styled" :checked="task.completed"> {{ task.description }}
                </div>
            </div>
            <div class="panel-block">
              <button class="button is-link is-outlined is-fullwidth" @click="tasks= []">
                Reset List
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
  <script>
  Vue.component('todo-item', {
    // The todo-item component now accepts a
    // "prop", which is like a custom attribute.
    // This prop is called todo.
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  });

  var app = new Vue({
    el: '#root',

    data: {
      activeTabIndex: 0,
      isLoading: false,
      disabled: false,
      seen: true,
      submitted: false,
      todo_text: "",
      todos: [
        { text: 'Learn JavaScript' },
        { text: 'Learn Vue' },
        { text: 'Build something awesome' }
      ],
      message: 'Hello Vue.js!',
      groceryList: [
        { id: 0, text: 'Vegetables' },
        { id: 1, text: 'Cheese' },
        { id: 2, text: 'Whatever else humans are supposed to eat' }
      ],
      tabs: [
        { id: 0, text: 'All', active: true },
        { id: 1, text: 'Complete', active: false },
        { id: 2, text: 'Incomplete', active: false },
        ],
      tasks: [
        { description: 'Go to the store', completed: true },
        { description: 'Finish the screencast', completed: false },
        { description: 'Make donation', completed: false },
        { description: 'Clear inbox', completed: false },
        { description: 'Make dinner', completed: false },
        { description: 'Clean room', completed: true },
      ]
    },

    methods: {
      toggleClass() {
        this.isLoading = !this.isLoading;
        this.disabled = !this.disabled;
      },

      toggleEnable() {
        this.seen = !this.seen;
      },

      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('')
      },

      toggleTab($event) {
        //console.log($event.target.text.trim(' '));
        let tab_name = $event.target.text.trim(' ');
        for (var i = 0; i < this.tabs.length; i++) {
            this.tabs[i].active = false;
            if ( this.tabs[i].text == tab_name) {
                this.tabs[i].active = true;
                this.activeTabIndex = i;
            }
        }

        // let merp = this.tabs.findIndex(x => x.text == $event.target.text.trim(' '));
        // console.log(merp);
      },

      validateInput() {
        this.submitted = true;
        if ( this.todo_text === "") {
            return false;
        }
        else {
            this.addTodo(this.todo_text);
        }
      },

      addTodo() {
        this.tasks.push({'description': this.todo_text, 'completed':false})
        this.todo_text = "";
        this.submitted = false;

      }
    },

    mounted: function() {
      this.disabled = false;
      this.tabs[0].active = true;
      this.activeTabIndex = 0;
      this.submitted = false;
    },

    computed: {
      incompleteTasks() {
        return this.tasks.filter(task => !task.completed);
      },
      completeTasks() {
        return this.tasks.filter(task => task.completed);
      },

      currentTasks() {
        if (this.activeTabIndex == 0) {
            return this.tasks;
        }
        else if ( this.activeTabIndex == 1) {
            return this.tasks.filter(task => task.completed);
        }
        else if ( this.activeTabIndex == 2) {
            return this.tasks.filter(task => !task.completed);
        }
      },

      handleNoData() {
         if (this.todo_text == "") {
            return true;
         }
         else return false;
      }
    }

  });

  </script>
</body>

</html>
